/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
   font-size: 62.5%;
}

/* --- DHD BEGINS CODE HERE ------------------------------- */

.wrapper {
    background-color: lightcyan;
    margin: 0px auto;
    /* border: 1px solid black; */
}

.header-box h1 {
    font-size: 2.6rem;
    text-align: center;
    padding: 2.5rem;
    /* border: .01rem solid black; */
}

.header-box .nav-buttons {
    display: flex;
	justify-content: center;
    align-items: center;
    /* border: .01rem solid black; */
}

.header-box .nav-buttons a {
    font-size: 1.5rem;
    color: darkcyan;
    padding: 20px;
    text-decoration: none;
    /* border: .01rem solid black; */
}

.header-box h2 {
    font-size: 2.3rem;
    text-align: center;
    padding: 2.5rem;
    /* border: .01rem solid black; */
}

.header-box p {
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem 3rem 2.5rem 3rem;
    /* border: .01rem solid black; */
}

.wide-image {
    padding: 2.5rem 0 1.0rem 0;
    /* border: .01rem solid black; */
}

.project-gallery {
    display: flex;
    /* border: .01rem solid black; */
}

.project-gallery .project-links {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    /* border: .01rem solid black; */
}

.project-gallery .project-links a {
    padding-bottom: 1.0rem;
    /* border: .01rem solid black; */
}

.project-gallery .project-text {
    display: flex;
    align-items: center;
    width: 25%;
    /* border: .01rem solid black; */
}

.project-gallery .project-text p {
    font-size: 1.5rem;
    margin-right: 3.5rem;
    padding: 5.0rem; 
    /* border: .01rem solid black; */
}

.footer-box .footer-buttons {
    display: flex;
    justify-content: center;
    padding: 4.0rem;
    background-color: aquamarine; 
    /* border: .01rem solid black; */
}

.footer-box .footer-buttons a {
    font-size: 1.5rem;
    color: darkcyan;
    text-decoration: none;
    padding: 2.0rem;
    /* border: .01rem solid black; */
}

/* Responsive */

/* .container {
    max-width: ;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px 1.25%;
  }
  
  @media(max-width: 500px) {
    .container {
      background: gray;
    }
  
    .container header nav {
      display: flex;
      flex-direction: column;
    }
  
    .container header nav a {
      margin-bottom: 20px;
    }
  } */